html,body{
    margin: 0;
    box-sizing:border-box;
    font-size: 16px;
    width: 100%auto; 
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

 h1 {
    margin: 0;
    font-size: 5rem;
}

h2{
    font-size: 2.5rem;
    color: #000000cc;
}
p{
    line-height: 2;
}

nav{
    display: flex;
    justify-content: space-around;
    color: #292929c2;
    padding: 10px;
 background-color: rgb(202, 202, 202);
    z-index: 1;
    height: 50px;
    position: fixed;
    width: 100%;
}

nav .logo a{
    text-decoration: none;
    cursor: pointer;
    color: #292929c2;  
}
nav .logo{
    cursor: pointer;
    margin-top: 1rem;
}

nav .menu{
    display: flex;
    margin: 0 450px 0 450px;
}
nav .menu a{
    margin-left: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: #292929c2;
}
nav .menu a:hover {
    color: rgb(21, 15, 44);
}

 nav button{
    border-radius: 1rem;
     background-color: rgb(21, 15, 44);
    color: white;
    border: none;
    width: 10rem;
    height: 3.5em;
    cursor: pointer;
}
nav button:hover{
    color: #646464c2;
}

.portafolio{
    height: 780px;
    background-image: url("natallia-nagorniak-tA3sJ4u09eU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
    padding: 50px;
    background-position: center;
}
.portafolio::before{
    position: absolute;
    background-color: rgba(94, 94, 94, 0.2);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

#portafolio{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;

}



.portafolio p{
    margin: 0;
    width: 35%;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0 2rem 0;
}
.portafolio button{
    border-radius: 1rem;
    background-color: rgb(21, 15, 44);
    color: white;
    border: none;
    width: 10rem;
    height: 3.5em;
    cursor: pointer;
    font-size: 1rem;
    width: 10%;
    cursor: pointer;
}

.aboutUs{
   background-color: rgb(202, 202, 202);
    width: 100%;
    height: 400px;
}
.aboutUs div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.aboutUs div p{
    font-size: 1.1rem;
    width: 60%;
    text-align: center;
    margin-top: 50px;
    color: rgba(44, 44, 44, 0.678);
    line-height: 2;
}

.testimonials{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 680px;
    text-align: center;
}

.testimonials h2{
    padding-top: 100px;
    margin: 0 0 50px 0;
}

.testimonials .card{
    width: 100%;
    height:350px;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}

.testimonials .card .cards{
    
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-color: rgba(184, 184, 184, 0.301);
    border-width:1px 3px 6px 3px;
    border-style: solid;
}

.testimonials .card .cards img{
    border-radius: 50%;
    width: 20%;
    height:20%
}

.testimonials .card .cards p{
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 9px;
    line-height: 1.5;
    text-align: center;
}

.cakes{
      background-color: rgb(202, 202, 202);
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cakes .cakeImages{
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cakes .cakeImages  img{
    margin: 10px;
    width: 20%;
    height: 35%;
    border-radius: 9px;
}
























.gallery{
    padding-top: 50px;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    color: rgba(44, 44, 44, 0.678);
    align-items: center;
}

.gallery h1{
    font-size: 3rem;
    color: #000000cc;
    margin: 0;
}
.gallery p{
    width: 50%;
    margin: 30px 0;
}
.gallery hr{
    width: 85%;
    height: 1px;
    margin-bottom: 30px;
}

.gallery .galeria{
    width: 100%;
}



.gallery  .galeria .bodas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
} 
.gallery .galeria .imagen div {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .galeria .imagen div img{
    width: 85%;
    height: 50%;
}


.botones {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px;
}

.btn.active {
  background-color: #1b1b1b;
  color: white;
  border-color: #1a1a1a;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.imagen {
  width: 250px; /* Tamaño de la imagen */
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  transition: all 0.5s ease; /* Para que la transición de ocultar/mostrar sea suave */
}

.imagen img {
  max-width: 100%;
  height: auto;
  display: block;
}

.oculto {
  display: none;
  opacity: 0;
  transform: scale(0.8);
}

/*<div>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQoAAACUCAMAAABcDpd8AAAAA1BMVEUAAACnej3aAAAAPUlEQVR4nO3BgQAAAADDoPlTX+EAVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8BqaXAAB2RIqiwAAAABJRU5ErkJggg==" alt="">
                <h3>Rustic Wedding Cake</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <p class="Detalles">View Details</p>
            </div>
*/

























.form{
   
    height: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: rgba(56, 54, 52, 0.26);
}
.form h3{
    margin-top: 50px;
    font-size: 2rem;
}


.form .lorem{
    width: 40%;
    text-align: center;
    padding-bottom: 50px;
}
.form p{
    margin: 0;
    width: 100%;
}

.form .input {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #3f3f3f;
}
.form .input input{
    margin: 0;
    width: 100%;
    height: 40px;
    border: 10px rgba(0, 0, 0, 0.363);
    border-radius: 6px;
}

.short{
    display: flex;
}
.short .left{

    padding-right: 50px;
}
.short .left input{
    width: 350px;
}


.short .rigth input{
    width: 350px;
}
#space{
    margin-top: 50px;
}
.form .input hr{
    width: 100%;
    height: 1px;
    background-color: #0000006b;
    margin: 30px 0 30px 0;
}
.form .input h4{
    font-size: 1.3rem;
    margin: 0;
}
.form .input button{
    width: 30%;
    height: 50px;
    border-radius: 6px;
    color: #ffffff;
    background-color: rgb(17, 20, 43);
    margin-left: 500px;
    margin-top: 50px;
    cursor: pointer;
}

.touch{
    height: 700px;
    display: flex;
}
.touch h3{
    font-size: 2rem;
    margin: 30px 0 50px 0;
}
.touch p{
    margin: 0;
    text-align: left;
    width: 70%;
}

.touch .contact{
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}
.touch .contact .input{
    width: 100%;
    height: 100%;
    
}

.touch .contact input{
    width: 80%;
    height: 100%;
    margin: 0;
    border: 0;
}


.touch .short{
    display: flex;
}

.touch .short .rigth{
    height: 100%;
}
.touch .short .left input{
    width: 300px;
}


.touch .short .rigth input{
    width: 300px;
}
.touch .input input{
    margin: 0;
    width: 70%;
    height: 40px;
    background-color: rgb(202, 202, 202);
    border-radius: 6px;
}
#message input{
    height: 200px;
}
.touch .info{
    margin-top: 30px;
    padding-left: 50px;
    width: 40%;
    height: 88%;
    background-color: rgb(202, 202, 202);
    border-radius: 6px;
}


.touch .info div .telefonoEmailDireccion{
    display: flex;
    justify-content: flex-start;

}

.touch .info div .telefonoEmailDireccion div{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 100%;
}
.touch h4{
    margin: 0;
}
.touch .info i{
    color: rgb(37, 37, 37);
    font-size: 1rem;
}
.touch .info .follow i{
    font-size: 2rem;
}

footer{
    background-color: rgb(202, 202, 202);
    height: 200px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #33333350;
}
footer .fag{
    display: flex;
}
footer .fag p {
    margin-left: 50px;
}
footer div a i{
    color: #33333350;
}