html,body{
    margin: 0;
    font-size: 16px;
    width: 1920px; 
    font-family: Arial, Helvetica, sans-serif;
}
 h1 {
    margin: 0;
    font-size: 5rem;
}

h2{
    font-size: 2.5rem;
    color: #000000cc;
}
p{
    line-height: 2;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: .5rem 5rem .5rem 5rem;    
    color: #292929c2;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 1800px;
    height: 50px;
}
nav .logo{
    cursor: pointer;
}

nav .menu{
    display: flex;
}
nav .menu a{
    margin-left: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: #292929c2;
}
nav .menu a:hover {
    color: rgb(21, 15, 44);
}

 nav button{
    border-radius: 1rem;
     background-color: rgb(21, 15, 44);
    color: white;
    border: none;
    width: 10rem;
    height: 3.5em;
    cursor: pointer;
}

.portafolio{
    height: 780px;
    background-image: url("natallia-nagorniak-tA3sJ4u09eU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
    padding: 50px;
    background-position: center;
}
.portafolio::before{
    position: absolute;
    background-color: rgba(94, 94, 94, 0.219);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

#portafolio{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;

}



.portafolio p{
    margin: 0;
    width: 35%;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0 2rem 0;
}
.portafolio button{
    border-radius: 1rem;
    background-color: rgb(21, 15, 44);
    color: white;
    border: none;
    width: 10rem;
    height: 3.5em;
    cursor: pointer;
    font-size: 1rem;
    width: 10%;
}

.aboutUs{
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 400px;
}
.aboutUs div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.aboutUs div p{
    font-size: 1.1rem;
    width: 60%;
    text-align: center;
    margin-top: 50px;
    color: rgba(44, 44, 44, 0.678);
    line-height: 2;
}

.testimonials{
    background-color: rgb(253, 250, 243);
    width: 100%;
    height: 700px;
    text-align: center;
    margin-top: 100px;
}



.testimonials .card{
    width: 100%;
    height:350px;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}

.testimonials .card .cards{
    
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-color: rgba(184, 184, 184, 0.301);
    border-width:1px 3px 6px 3px;
    border-style: solid;
}

.testimonials .card .cards img{
    border-radius: 50%;
    width: 20%;
    height:20%
}

.testimonials .card .cards p{
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 9px;
    line-height: 1.5;
    text-align: center;
}

.cakes{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cakes .cakeImages{
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cakes .cakeImages  img{
    margin: 10px;
    width: 20%;
    height: 35%;
    border-radius: 9px;
}

.gallery{
    padding-top: 100px;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgba(44, 44, 44, 0.678);
}
.gallery h1{
    font-size: 3rem;
        color: #000000cc;
}
.gallery p{
    width: 50%;
    text-align: center;

}
.gallery hr{
    width: 85%;
    background-color: rgba(85, 85, 85, 0.527);
    height: 1px;
    border: none;
}

.gallery .typesOfCake{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery a{
    margin-left: 50px;
    text-decoration: none;
    color: rgba(44, 44, 44, 0.678);
    position: relative;
}
.gallery a:hover{
    color: rgb(21, 15, 44);
}
.gallery a::after {
  content: ''; /* Obligatorio para crear el pseudo-elemento */
  position: absolute; /* Permite posicionar la línea libremente */
  bottom: -35px; /* Coloca la línea 5px debajo del párrafo */
  left: 0;
  width: 0; /* Ancho inicial de 0 para que no sea visible */
  height: 2px; /* Grosor de la línea */
  background-color:rgb(21, 15, 44); /* Color de la línea */
  transition: width 0.2s ease; /* Transición suave para el ancho */
}
.gallery a:hover::after {
  width: 100%; /* La línea se extiende para cubrir el 100% del ancho del párrafo */
}

.gallery .weddingCakes{
    width: 100%;
    display: flex;
}
.gallery .weddingCakes div{
    margin: 0;
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.gallery .weddingCakes img{
    width: 60%;
    height: 65%;
    border-radius: 9px;
    text-align: center;
}
.gallery .weddingCakes h3{
    margin: 0;
    margin-top: 15px;
    color: #000000cc;
}

.gallery .weddingCakes p{
    width: 70%;
    margin: 0;
    color: rgba(85, 85, 85, 0.527);
      line-height: 1;
      margin: 10px 0 10px 0;
}
.gallery .weddingCakes .Detalles{
    color: #000000cc;
}
